
#login-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui;
    direction: rtl;

}
.logo{
    display: none;
}

#header {
    font-size: 1.5rem;
    margin: 20px;
   
}

#back-button {
    font-size: 2rem;
    align-self: flex-end;
    padding: 30px;
    padding-bottom: 5px;
    cursor: pointer;
}

button {
    display: flex;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border: 0.5px solid gray;
    font-size: 1rem;
    background-color: white;
    justify-content: center;
    gap: 5px;
    align-items: flex-end;
    cursor: pointer;

}

#buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
}
#buttons-container>:hover{
    color: #ff7a00;
    border: #f37500 0.9px solid;
}
#buttons-container > * {
    transition: all 0.4s ease;
}


img {
    height: 20px;
    width: auto;
    margin-top: 2px;
}

#separator {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 25px 0;
    color: #d1d1d1;
}

#separator span {
    flex: 1;
    height: 0.8px;
    background: #d1d1d1;
    margin: 0 20px;
}
#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}
.form-label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 1rem;
   display: block;
    padding-top: 20px;
}

.form-input {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 5px;
}
.form-input:hover{
    border-color: black;
}
.error{
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.input-error{
    border: red 1.2px solid;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    cursor: pointer;

}

#forgot {
    color: #ff7a00;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 10px;
}

#login-button {
    background: #ff7a00;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.2rem;
    margin: 20px;
    align-self: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
#login-button:hover {
    background: #e76a00;
}


#register-line {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 40px;
}

#register-link {
    color: #ff7a00;
    font-weight: 600;
    cursor: pointer;
}

#footer-login {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #f7f7f7;
    color: #444;
    font-size: 1.05rem;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#main-logo{
    display: none;
}

#wide-slogen-container{
    display: none;
}


.password-wrapper {
  position: relative;
}

.password-popover {
  position: absolute;
  top: -130px;
  right: 0;
  width: 260px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  z-index: 20;
}

.popover-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.popover-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: #666;
}

.popover-row.ok {
  color: #009900;
  font-weight: 600;
}

.input-ok {
  border-color: #09c109 !important;
}

@media(min-width: 881px) {
    #login-container {
        z-index: 2;
        position: relative;
        width: 100%;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        background: white;
    }
    body{
        background-color: rgba(255, 216, 169, 0.226);
       height: 100vh;
    
    }
    #back-button {
        display: none;
    }
    #header {
        margin-top: 40px;
    }
    #footer-login {
        position: absolute;
        background: none;
        top: -60px;
        bottom: auto;
        left: auto;
       z-index: 1;
       width:fit-content;
       height: 20px;
       cursor: pointer;
    }
   
    #page-container {
       display: grid;
        grid-template-columns: 1fr 1.3fr;
        gap: 10%   ;
        margin: auto;
        margin-top: 60px;
        max-width: 80%;

    }
    #main-logo{
    display: block;
    width: 70px;
    height: auto;
    margin: 30px 70px;
    cursor: pointer;

    }
    .logo{
        display: block;
        width: 60px;
        height: auto;
    }
    #widescreen-info-container{
        display: flex;
        align-items:flex-end;
        justify-content: center;
    }
    #wide-slogen-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 2.3rem;
        font-weight: 500;
        padding: 20px;
        height: 100%;
        margin-right: 20%;
    }
    #icons-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }
    .icon-name{
        margin-top: 5px;
        font-size: 1rem;
    }
    .icon-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}