<header class="header-container">
  
  <div class="desktop-layout">
    
    <div class="top-row">
      
      <div class="right-section">
        <img (click)="navTo('')"  src="https://assets.yad2.co.il/common/logo-default.svg" alt="Yad2 Logo" class="logo">
        
        <nav class="nav-categories">
          
          <div class="nav-item dropdown-group">
            <a href="realestate" class="nav-link">נדל"ן</a>
            <div class="dropdown-menu">
              <ul class="dropdown-list">
                <li>
                  <a href="#">
                    <span class="dd-text">דירות למכירה</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><path d="M3 21h18M5 21V7l8-4 8 4v14M8 11h2v2H8zm0 4h2v2H8zm6-4h2v2h-2zm0 4h2v2h-2z"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="dd-text">דירות להשכרה</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z"/><path d="M9 22V12h6v10"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="dd-text">נדל"ן מסחרי</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="4" y="2" width="16" height="20" rx="2"/><path d="M9 22v-4h6v4M8 6h.01M16 6h.01M8 10h.01M16 10h.01M8 14h.01M16 14h.01"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="dd-text">עסקים למכירה</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><path d="M9 11l3 3L22 4"/><path d="M21 12v7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h11"/></svg>
                  </a>
                </li>
                <li class="yad1-row">
                  <a href="#">
                    <span class="dd-text">יד1 דירות חדשות</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><path d="M3 21h18M6 21V9.5a2.5 2.5 0 012.5-2.5h7A2.5 2.5 0 0118 9.5V21M9 13h2m-2 4h2m4-4h2m-2 4h2"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="dd-text">כונס נכסים</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"/><path d="M16 21V5a2 2 0 00-2-2h-4a2 2 0 00-2 2v16"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="dd-text">משרדי תיווך בישראל</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><path d="M3 10l9-7 9 7v10a2 2 0 01-2 2H5a2 2 0 01-2-2V10z"/></svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="dd-text">ייעוץ משכנתאות</span>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><path d="M12 1v22M17 5H9.5a3.5 3.5 0 000 7h5a3.5 3.5 0 010 7H6"/></svg>
                  </a>
                </li>
                <li class="yadata-row">
                  <a href="#">
                    <div class="text-group">
                      <span class="dd-text">מדור ידאטה</span>
                      <span class="badge-new">חדש</span>
                    </div>
                    <svg class="dd-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"><path d="M3 20h18L12 4 3 20z"/></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="nav-item"><a href="#" class="nav-link">דירות חדשות</a></div>
          <div class="nav-item"><a href="#" class="nav-link">רכב</a></div>
          <div class="nav-item"><a href="#" class="nav-link">יד שנייה</a></div>
          <div class="nav-item"><a href="#" class="nav-link">דרושים IL</a></div>
          <div class="nav-item"><a href="#" class="nav-link">עסקים למכירה</a></div>
          <div class="nav-item"><a href="#" class="nav-link">חיות מחמד</a></div>
          <div class="nav-item"><a href="#" class="nav-link">בעלי מקצוע</a></div>
        </nav>
      </div>

      <div class="actions-container top-actions">
        <div class="icon-btn chat-btn" title="צ'אט">
        <svg  width="2rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-chat-button_icon__yfOBF"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.81 17.093V19.95a.02.02 0 00.036.012l.01-.012.931-1.134.524-.637 1.389-1.692a1 1 0 01.773-.365h3.018a4 4 0 004-4V8.956a4 4 0 00-4-4H7.956a4 4 0 00-4 4v3.282a3.884 3.884 0 003.884 3.884.97.97 0 01.97.97zm6.68-13.637H7.957a5.5 5.5 0 00-5.5 5.5v3.282a5.384 5.384 0 004.855 5.358v2.354c0 1.427 1.789 2.067 2.694.964l2.704-3.292h2.782a5.5 5.5 0 005.5-5.5V8.956a5.5 5.5 0 00-5.5-5.5zM6.605 9.093a.75.75 0 01.75-.75h7.865a.75.75 0 010 1.5H7.354a.75.75 0 01-.75-.75zm0 3.277a.75.75 0 01.75-.75h4.806a.75.75 0 010 1.5H7.354a.75.75 0 01-.75-.75z" fill="currentColor"></path></svg>    
      <span class="chat-label">צ'אט</span>
      </div>

        <div class="icon-btn fav-btn" title="מודעות שאהבתי">
          <span class="icon">♡</span>
          <span class="label-desktop">מודעות שאהבתי</span>
        </div>

        <div (click)="navTo('login')" class="icon-btn login-btn">
        <span class="circle-badge">
        <svg class="icon" width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="profile-element_icon__AC2vI"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 7.5a4.25 4.25 0 118.5 0 4.25 4.25 0 01-8.5 0zm7 0a2.75 2.75 0 10-5.5 0 2.75 2.75 0 005.5 0zm6 9.5a4 4 0 00-4-4H7a4 4 0 000 8h10a4 4 0 004-4zM7 14.5h10l.164.005A2.5 2.5 0 0117 19.5H7l-.164-.005A2.5 2.5 0 017 14.5z" fill="currentColor"></path></svg>     
        </span>
        <span class="text-label">התחברות</span>
      </div>

        <button class="post-btn">
          <span class="plus">+</span>
          <span>פרסום מודעה</span>
        </button>

      </div>
    </div>

    <div class="bottom-row">
      <div class="actions-container bottom-actions">
             <div class="icon-btn chat-btn dropped-item item-chat">
        <svg  width="2rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-chat-button_icon__yfOBF"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.81 17.093V19.95a.02.02 0 00.036.012l.01-.012.931-1.134.524-.637 1.389-1.692a1 1 0 01.773-.365h3.018a4 4 0 004-4V8.956a4 4 0 00-4-4H7.956a4 4 0 00-4 4v3.282a3.884 3.884 0 003.884 3.884.97.97 0 01.97.97zm6.68-13.637H7.957a5.5 5.5 0 00-5.5 5.5v3.282a5.384 5.384 0 004.855 5.358v2.354c0 1.427 1.789 2.067 2.694.964l2.704-3.292h2.782a5.5 5.5 0 005.5-5.5V8.956a5.5 5.5 0 00-5.5-5.5zM6.605 9.093a.75.75 0 01.75-.75h7.865a.75.75 0 010 1.5H7.354a.75.75 0 01-.75-.75zm0 3.277a.75.75 0 01.75-.75h4.806a.75.75 0 010 1.5H7.354a.75.75 0 01-.75-.75z" fill="currentColor"></path></svg>    
        </div>
                <div class="icon-btn fav-btn dropped-item item-fav">
          <span class="icon">♡</span>
        </div>

         <div class="icon-btn login-btn dropped-item item-login">
          <span class="circle-badge">
        <svg class="icon" width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="profile-element_icon__AC2vI"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 7.5a4.25 4.25 0 118.5 0 4.25 4.25 0 01-8.5 0zm7 0a2.75 2.75 0 10-5.5 0 2.75 2.75 0 005.5 0zm6 9.5a4 4 0 00-4-4H7a4 4 0 000 8h10a4 4 0 004-4zM7 14.5h10l.164.005A2.5 2.5 0 0117 19.5H7l-.164-.005A2.5 2.5 0 017 14.5z" fill="currentColor"></path></svg>     
        </span>
        </div>

          <button class="post-btn dropped-item item-post">
          <span class="plus">+</span>
          <span>פרסום מודעה</span>
        </button>
      </div>

    </div>
  </div>



  <div class="mobile-header">
    
    <div class="mobile-right">
      <button class="hamburger-btn" (click)="toggleSideMenu()">
        <svg viewBox="0 0 24 24" width="26" height="26" stroke="#363636" stroke-width="2" fill="none" stroke-linecap="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>
        <svg class="icon-svg heart-icon  " viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8">
          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
        </svg>
    </div>

      <img src="https://assets.yad2.co.il/common/logo-default.svg" alt="Yad2 Logo" class="mobile-logo">

    <div class="mobile-left icon-svg chat-icon">
     
      <div class="mobile-icon-group chat-group  ">
       <svg class="icon-svg chat-icon" width="2rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-chat-button_icon__yfOBF"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.81 17.093V19.95a.02.02 0 00.036.012l.01-.012.931-1.134.524-.637 1.389-1.692a1 1 0 01.773-.365h3.018a4 4 0 004-4V8.956a4 4 0 00-4-4H7.956a4 4 0 00-4 4v3.282a3.884 3.884 0 003.884 3.884.97.97 0 01.97.97zm6.68-13.637H7.957a5.5 5.5 0 00-5.5 5.5v3.282a5.384 5.384 0 004.855 5.358v2.354c0 1.427 1.789 2.067 2.694.964l2.704-3.292h2.782a5.5 5.5 0 005.5-5.5V8.956a5.5 5.5 0 00-5.5-5.5zM6.605 9.093a.75.75 0 01.75-.75h7.865a.75.75 0 010 1.5H7.354a.75.75 0 01-.75-.75zm0 3.277a.75.75 0 01.75-.75h4.806a.75.75 0 010 1.5H7.354a.75.75 0 01-.75-.75z" fill="currentColor"></path></svg>    
      </div>

      <div class="mobile-icon-group">
      
      </div>

     

    </div>
  </div>

</header>